* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    background-color: #091320;
}

body {
    overflow: hidden;
    overflow-y: scroll;
    color: white;
}
